#ProductInfo {
    padding-top: 70px;
    padding-bottom: 300px;

    //波浪
    background: url(../../../public/ImgCSBg.png);
    background-size: 100% 100%;

    @media screen and (max-width: 575px) {
        background: url(../../../public/ImgNewsBgM.png);
        background-size: 100% 100%;
    }

    .return {
        display: flex;
        justify-content: end;
        margin-top: 60px;
    }

    .main-info {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;

        .info-img {
            width: 50%;

            img {
                width: 100%;
                border-radius: 30px;
                box-shadow: 0 0 15px 10px rgba(194, 173, 173, 0.5);
            }

        }

        .info-detail {
            flex: 1;
            display: flex;
            flex-direction: column;
            font-size: 24px;
            box-shadow: 0 0 15px 10px rgba(122, 94, 62, 0.5);
            border-radius: 24px;
            padding: 20px 24px;

            h1 {
                font-size: 36px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            .detail-des {
                margin-bottom: 12px;
                font-size: 20px;
                line-height: 26px;
                padding-left: 20px;
                padding-left: 30px; //全部縮排
                text-indent: -25px; //首行突出 
            }

            .detail-price {
                margin-top: auto;
                margin-bottom: 30px;
                padding-top: 24px;
                font-size: 24px;
                font-weight: 500;

                :nth-child(1):nth-child(2) {
                    font-size: 26px;
                    padding-right: 24px;
                }

                :nth-child(3) {
                    color: gray;
                    text-decoration: line-through;
                   margin-left: 24px;
                }

            }

            .detail-num {
                margin-bottom: 30px;
                label {
                    margin-right: 12px;
                    font-size: 24px;
                    font-weight: 500;
                }

            }

            .detail-button {
                display: flex;
                gap: 24px;
                justify-content: space-between;

                button {
                    width: 50%;
                }
            }
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;

            .info-img {
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    max-width: 400px;
                }

            }

            .menu-subtitle {
                li {
                    font-size: 16px;
                }
            }
        }
    }



}