@import'../assets/reset.scss';


#home {
    font-family: 'Noto Sans TC', sans-serif;

    .fix-orange {
        width: 200px;
        position: fixed;
        z-index: 99;
        bottom: 0px;

        img {
            width: 100%;
        }

        @media screen and (max-width: 1200px) {
            width: 120px;
            bottom: 50px;
        }

        @media screen and (max-width: 991px) {
            bottom: 100px;
        }

        @media screen and (max-width: 767px) {
            bottom: 250px;
        }

        @media screen and (max-width: 575px) {
            display: none;

        }
    }

    .fix-blueberry {
        width: 100px;
        position: fixed;
        z-index: 99;
        right: 60px;
        bottom: 300px;

        img {
            width: 100%;
        }

        @media screen and (max-width: 1200px) {
            width: 60px;
            right: 30px;
            bottom: 300px;
        }

        @media screen and (max-width: 991px) {
            bottom: 400px;
        }

        @media screen and (max-width: 575px) {
            display: none;
        }

    }


    .banner {
        padding-top: calc(40px + 1.3vw);
        position: relative;

        .banner-img-bg,
        .banner-img-sm {
            width: 100%;
            z-index: -2;

            img {
                width: 100%;
            }
        }

        .banner-text {
            position: absolute;
            top: 25%;
            left: 20%;

            h1 {
                color: #E94709;
                font-weight: 700;
                // font-size: 48px;
                font-size: calc(24px + 1.5vw);
                position: relative;
                z-index: 2;
                padding-bottom: calc(24px + 1.5vw);
                letter-spacing: 1.5px;

                //文字外框
                &::before {
                    content: '飲料、就是這麼好玩！';
                    position: absolute;
                    z-index: -1;
                    -webkit-text-stroke: 8px white;
                }
            }

            h2,
            p {
                color: white;
                // font-size: 32px;
                font-size: calc(10px + 1.5vw);
                line-height: calc(18px + 1.5vw);
                font-weight: 700;
                text-shadow: black 0.01em 0.01em 0.1em;
                letter-spacing: 1.5px;
            }
        }

        @media screen and (max-width: 992px) {
            .banner-text {
                h1 {
                    font-size: calc(18px + 1.5vw);
                    padding-bottom: calc(10px + 1.5vw);
                }

                h2,
                p {
                    font-size: calc(8px + 1.5vw);
                    line-height: calc(16px + 1.5vw);
                }
            }
        }

        @media screen and (max-width: 575px) {
            .banner {
                padding: 0;
            }

            .banner-img-sm {
                img {
                    //圖片往上移 (類似剪裁效果)    
                    object-fit: cover;
                    object-position: 0px -30vh;
                }
            }

            .banner-text {
                top: 10%;
                left: 0%;
                width: 100%;
                text-align: center;

                h1 {
                    font-size: calc(24px + 1.5vw);
                    padding-bottom: 30px;
                    padding-left: 12px;
                }

                h2,
                p {
                    font-size: calc(18px + 1.5vw);
                    line-height: calc(20px + 1.5vw);
                }
            }
        }

        @media screen and (max-width: 375px) {
            .banner-text {
                h1 {
                    font-size: calc(20px + 1.5vw);
                }

                h2,
                p {
                    font-size: calc(16px + 1.5vw);
                    line-height: calc(18px + 1.5vw);
                }
            }
        }
    }

    /*end of banner*/

    .customer {
        position: relative;

        .customer-main {
            width: 100%;
            z-index: 1;
            background: url(../../public/ImgFeatureBg.png);
            background-size: 100% 100%;
            /* 保持宽度不变，高度拉伸至容器的100% */
            background-repeat: no-repeat;
            margin-top: -350px;
            padding-top: 50px;
            padding-bottom: 100px;

            h3 {
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 80px;
            }

            @media screen and (max-width: 1480px) {
                margin-top: -200px;
            }

            @media screen and (max-width: 1200px) {
                margin-top: -200px;
            }

            @media screen and (max-width: 1000px) {
                margin-top: -160px;
            }

            @media screen and (max-width: 767px) {
                margin-top: calc(-100px - 1.5vw);

                h3 {
                    font-size: 24px;
                    margin-bottom: 40px;
                }
            }

            @media screen and (max-width: 575px) {
                background: url(../../public/ImgFeatureBgM.png);
                background-size: 100% 100%;
                /* 保持宽度不变，高度拉伸至容器的100% */
                background-repeat: no-repeat;
                margin-top: -270px;

                h3 {
                    margin-bottom: 20px;
                }
            }
        }

        .customer-items {
            .customer-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                gap: 20px;

                .item-image {
                    flex: 1 1 0;

                    img {
                        width: 100%;
                    }
                }

                .item-text {
                    flex: 1 1 0;

                    h4 {
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 34px;
                        color: #E94709
                    }

                    p {
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 36px;
                    }
                }
            }

            .customer-item:nth-child(even) {
                flex-direction: row-reverse;
            }
        }

        @media screen and (max-width: 991px) {
            .customer-items {
                .customer-item {
                    .item-image {
                        width: 80%;

                        img {
                            width: 100%;
                        }
                    }

                    .item-text {
                        h4 {
                            font-size: 24px;
                            font-weight: 700;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 22px;
                        }
                    }
                }
            }

        }

        @media screen and (max-width: 767px) {
            .customer-items {
                .customer-item {
                    .item-text {
                        h4 {
                            font-size: 20px;
                            font-weight: 700;
                        }

                        p {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 18px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 575px) {
            .customer-items {
                .customer-item {
                    flex-direction: column;

                    .item-text {
                        h4 {
                            text-align: center;
                            font-size: 24px;
                            font-weight: 500;
                            padding-bottom: 12px;
                        }

                        p {
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 27px;
                            padding-bottom: 0px;
                        }
                    }
                }

                .customer-item:nth-child(even) {
                    flex-direction: column;
                }
            }
        }
    }

    /*end of customer*/

    .manufacture {
        margin-top: -300px;
        padding-top: 300px;
        z-index: -1;
        background: url(../../public/ImgBg.png);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding-bottom: 150px;

        .main-drink {
            flex: 1;
            position: relative;

            img {
                width: 100%;
            }

            :nth-child(2) {
                width: 30%;
                position: absolute;
                right: 0;
                top: calc(-30px - 1.5vw);
            }
        }

        .main-step {
            flex: 1;
            /* 设置计数器sectionCounter的初始值为0 */
            counter-reset: sectionCounter 0;

            h3 {
                font-size: 32px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 40px;
            }

            ul {
                padding-left: 30px;


                li {
                    font-size: 24px;
                    font-weight: 500;
                    border-radius: 8px;
                    background-color: #fff;
                    position: relative;
                    padding: 20px 24px 20px 50px;
                    margin-bottom: 35px;
                }

                ::before {
                    counter-increment: sectionCounter;
                    /* 计數器 */
                    content: "0" counter(sectionCounter);
                    /* 顯示 */
                    font-family: "Coiny", system-ui;
                    color: #fff;
                    background-image: linear-gradient(to top left, #E94709, #EDB250);
                    border-radius: 50%;
                    font-size: 17px;
                    position: absolute;
                    top: -15px;
                    left: -15px;
                    padding: 13px 11px 12px 11px;
                }

                :nth-child(1)::after,
                :nth-child(2)::after,
                :nth-child(3)::after,
                :nth-child(4)::after {
                    content: '';
                    border: 20px solid;
                    border-color: white transparent transparent transparent;
                    position: absolute;
                    bottom: -38px;
                    right: 45%;

                }

            }

            .button {
                font-size: 24px;
                font-weight: 500;
                line-height: 28px;
                color: #fff;
                padding: 17px 0;
                margin-left: 30px;
                width: 93%;
            }
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;

            .main-drink {
                :nth-child(2) {
                    top: calc(-70px - 1.5vw);
                }
            }

            .main-step {
                flex: 0;
                width: 100%;
                /* 设置计数器sectionCounter的初始值为0 */
                counter-reset: sectionCounter 0;

                h3 {
                    font-size: 28px;
                    font-weight: 700;
                    margin-bottom: 30px;
                }

                ul {
                    padding-left: 0px;

                    li {
                        font-size: 20px;
                        line-height: 24px;
                        padding: 16px 0 16px 20px;
                        text-align: center;
                        margin-bottom: 25px;
                    }

                    ::before {
                        top: 8px;
                        left: 20px;
                        padding: 10px 10px 8px 10px;
                    }

                    :nth-child(1)::after,
                    :nth-child(2)::after,
                    :nth-child(3)::after,
                    :nth-child(4)::after {
                        content: '';
                        border: 18px solid;
                        border-color: white transparent transparent transparent;
                        position: absolute;
                        bottom: -35px;
                        right: 45%;
                    }
                }

                button {
                    width: 100%;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-left: 0px;
                }
            }
        }

        @media screen and (max-width: 575px) {
            background: url(../../public/ImgBgM.png);
            background-size: 100% 100%;
            /* 保持宽度不变，高度拉伸至容器的100% */
            background-repeat: no-repeat;
            margin-top: -120px;
            margin-bottom: 50px;
            padding-top: 150px;

            h3 {
                margin-bottom: 20px;
            }
        }
    }

    /*end of manufacture*/

    .news {
        padding-top: 50px;
        background: url(../../public/ImgNewsBg.png);
        background-size: 100% 100%;
        /* 保持宽度不变，高度拉伸至容器的100% */
        background-repeat: no-repeat;
        margin-top: -100px;
        z-index: 2;
        position: relative;


        h3 {
            margin-top: 100px;
            font-size: 32px;
            font-weight: 700;
            text-align: center;
        }

        li {
            border-bottom: 1px solid #E6E7E8;
            padding-top: 20px;
            padding-bottom: 15px;

            .news-title {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 15px;

                p {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 500px;
                    background-color: #F4D010;
                    border-radius: 4px;
                    position: relative;
                    padding: 5px 8px 5px 35px;
                    color: #241F1D;

                }

                p::before {
                    content: '';
                    background: url(../../public//icon-sell.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 8px;
                    top: 4px;
                }

                h4 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28.8px;
                    color: #241F1D;
                    margin-left: 10px;
                }
            }

            .news-info {
                font-weight: 400;
                font-size: 20px;
                list-style: 30px;
                color: #686869;
                margin-bottom: 8px;

            }
        }

        li:nth-child(2) {
            .news-title {
                p::before {
                    background: url(../../public//icon-Alarm.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    left: 8px;
                    top: 3px;
                }
            }
        }

        li:nth-child(3) {
            .news-title {
                p::before {
                    background: url(../../public//icon-star.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    left: 8px;
                    top: 3px;
                }
            }
        }

        li:nth-child(4) {
            .news-title {
                p::before {
                    background: url(../../public//icon-digital.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    left: 8px;
                    top: 3px;
                }
            }
        }

        .news-button {
            margin-top: 50px;
            text-align: center;
            margin-bottom: 50px;
            padding-bottom: 100px;
        }

        @media screen and (max-width: 575px) {
            background: url(../../public/ImgNewsBgM.png);
            background-size: 100% 100%;
            /* 保持宽度不变，高度拉伸至容器的100% */
            background-repeat: no-repeat;
            margin-top: -100px;

            h3 {
                margin-top: 40px;
                margin-bottom: 20px;
                font-size: 28px;
            }

            li {
                .news-title {
                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                    }

                    h4 {
                        font-style: 20px;
                        line-height: 24px;

                    }
                }

                .news-info {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    /*end of news*/


    .products {
        background: url(../../public/ImgBg.png);
        z-index: -1;
        margin-top: -100px;
        padding-top: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 200px;

        padding-right: 200px;
        padding-left: 200px;



        .products-title {
            z-index: 1;
            width: 80%;
            background-color: #fff;
            display: flex;
            justify-content: space-around;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 20px;

            li {
                font-weight: 400;
                font-size: 28px;
                padding: 16px 36px;
                border-radius: 5px;
                cursor: pointer;

                :hover {
                    font-weight: 700;
                    background-color: #F4D010;
                }
            }

            li:hover {
                font-weight: 700;
                background-color: #F4D010;

            }
        }




        @media screen and (max-width: 991px) {
            .products-title {
                width: 70%;

                li {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 14px 18px;
                }
            }
        }

        @media screen and (max-width: 767px) {
            padding-right: 0px;
            padding-left: 0px;

            .products-title {
                width: 90%;

                li {
                    font-size: 18px;
                    font-weight: 500;
                    padding: 14px 14px;

                }
            }
        }

        @media screen and (max-width: 575px) {
            .products-title {
                width: 80%;

                li {
                    font-size: 16px;
                    font-weight: 500;
                    padding: 14px 8px;
                }
            }
        }

        @media screen and (max-width: 375px) {
            .products-title {
                li {
                    font-size: 16px;
                    font-weight: 500;
                    padding: 12px 6px;
                }
            }
        }



        .products-swiper {
            width: 100%;
            position: relative;


            .swiper-navigation {

                .swiper-button-prev,
                .swiper-button-next {
                    position: absolute;
                    background-color: #E94709;
                }

                .swiper-button-prev {
                    left: -50px; //按鈕在swiper 外面
                }

                .swiper-button-next {
                    right: -50px; //按鈕在swiper 外面
                }

                .swiper-button-prev::after,
                .swiper-button-next::after {
                    font-size: 16px;
                    font-weight: 700;
                    color: #E6E7E8;
                    padding: 15px 18px;
                    border-radius: 5px;
                    background-color: #E94709;
                    box-shadow: -3px 2px 14px -6px rgba(0, 0, 0, 0.5);


                }


            }

            @media screen and (max-width: 580px) {

                .swiper-navigation {
                    display: none;

                    .swiper-button-prev {
                        left: 15px; //按鈕在swiper 外面

                    }

                    .swiper-button-next {
                        right: 15px; //按鈕在swiper 外面
                    }

                }



            }
        }

        .card {
            min-width: 300px;
        }

        .list-card {

            background-color: #fff;
            flex: 1;
            padding: 15px 18px;
            display: flex;
            flex-direction: column;
            position: relative;
            border-radius: 4px;

            .card-tag {
                font-size: 14px;
                font-weight: 500;
                color: #241F1D;
                border-radius: 8px 4px 4px 0px;
                position: absolute;
                top: 28px;
                left: 4px;
                background-color: #F4D010;
                padding: 8px 16px 8px 16px;
                z-index: 2;
            }

            .card-tag-before {
                position: absolute;
                top: 20px;
                left: -7.5px;
                border: 12.5px solid;
                border-color: transparent #DEBC07 transparent transparent;
                z-index: 1;

            }

            .card-img {
                width: 100%;
                z-index: 1;

                img {
                    width: 100%;
                }
            }

            h6 {
                font-size: 24px;
                font-weight: 500;
                text-align: start;
                margin-top: 12px;
                margin-bottom: 6px;
            }

            .card-des {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                text-align: start;
                margin-bottom: 4px;
                height: 100px;

                /*超過3行時會有刪減符號*/
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
            }

            .card-more {
                font-size: 14px;
                text-align: end;
                line-height: 30px;
                text-decoration: underline;
                color: #686869;
                margin-top: auto;
                margin-bottom: 16px;
                cursor: pointer;
            }

            .card-more:hover {
                font-size: 17px;
                color: #E94709;
            }

            .card-price {
                text-align: start;
                margin-top: auto;
                margin-bottom: 16px;

                :nth-child(1) {
                    color: #E94709;
                    font-size: 22px;
                    font-weight: 500;
                    padding-right: 8px;
                }

                :nth-child(2) {
                    color: #686869;
                    font-size: 16px;
                    font-weight: 400;
                    text-decoration: line-through;
                }
            }

            .card-btn {
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
                margin-top: auto;

                button {
                    flex: 1;
                    padding: 8px 16px;
                }

                :nth-child(1) {
                    margin-right: 12px;
                }
            }


            @media screen and (max-width: 577px) {
                h6 {
                    font-size: 20px;
                }

                .card-price {
                    :nth-child(1) {
                        font-size: 20px;
                    }

                    :nth-child(2) {
                        font-size: 14px;
                    }
                }
            }
        }

    }

    /*end of product*/

    .recommend {
        background: url(../../public/ImgCSBg.png);
        background-size: 100% 100%;
        /* 保持宽度不变，高度拉伸至容器的100% */
        background-repeat: no-repeat;
        margin-top: -100px;
        padding-bottom: 150px;
        z-index: 2;

        h3 {
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            padding-top: 150px;
            margin-bottom: 20px;

        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #E6E7E8;
            padding-bottom: 30px;
            padding-top: 30px;

            .recommend-title {
                width: 140px;

                .title-img {
                    width: 100%;
                    margin-bottom: 8px;
                }

                .title-star {
                    width: 100%;
                    // text-align: center;
                    display: flex;
                    justify-content: center;
                    flex-wrap: nowrap;
                    gap: 5px;

                    img {
                        width: 15%;

                    }
                }
            }

            .recommend-info {
                width: 80%;
                padding-left: 20px;

                :nth-child(1) {
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                :nth-child(2) {
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 400;
                    color: #686869;
                }
            }

        }

        .recommend-button {
            margin-top: 40px;
            text-align: center;
        }

        @media screen and (max-width: 575px) {
            background: url(../../public/ImgNewsBgM.png);
            background-size: 100% 100%;
            /* 保持宽度不变，高度拉伸至容器的100% */
            background-repeat: no-repeat;
            margin-top: -100px;

            h3 {
                padding-top: 60px;
            }

            li {
                flex-direction: column;
                width: 100%;

                .recommend-info {
                    width: 100%;

                    :nth-child(1) {
                        text-align: center;
                        margin-top: 26px;
                        margin-bottom: 20px;
                    }

                    :nth-child(2) {
                        font-size: 16px;
                        line-height: 24px;

                    }
                }
            }
        }
    }


    /*共用*/
    .section-container {
        padding-right: 200px;
        padding-left: 200px;

        @media screen and (max-width: 1200px) {
            padding-right: 120px;
            padding-left: 120px;
        }

        @media screen and (max-width: 575px) {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    // .btn-outline-danger {
    //     --bs-btn-hover-color: white;
    //     --bs-btn-active-color: white;
    //     --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    // }

    // .btn-danger {
    //     --bs-btn-color: white;
    //     --bs-btn-hover-color: white;
    //     --bs-btn-active-color: white;
    //     --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    // }

}